* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    width: 400px;
    height: 400px;
    background-color: #eee;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.square-area {
    width: calc((400px - 2px) / 4);
    height: calc((400px - 2px) / 4);
    border: 1px solid #ccc;
    transition: .3s;
}

.square-area .square {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    cursor: pointer;
}

.drag-over {
    background-color: #e2e2e2;
}

.hide {
    display: none !important;
}

.start-btn {
    cursor: pointer;
    padding: 5px;
}